doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title {{title}}
        link(rel="stylesheet", href="{{style.url}}")
    body
        h1 {{title}} | POPPY
        header
            nav 
                ul
                    | {% for post in site.posts %}
                    li {{ post.excerpt }}
                    | {% endfor %}
        main {{content}}
    footer WiP
