extends base 
block head
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/mdqm@0.0.8/dist/quiz.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/mdqm@0.0.8/code/pygment-github.css")
    script(defer src="https://cdn.jsdelivr.net/npm/mdqm@0.0.8/mq.js") 

